@font-face {
  font-family: 'LPMQ Isep Misbah';
  src: url('../fonts/LPMQ_IsepMisbah.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LPMQ Isep Misbah', serif;
}
